/*  
////////////////////////////////////////////////////////////////////////////
///                         CSS                                         ///
////////////////////////////////////////////////////////////////////////////-->

Serve per definire alcune variabili grafiche del codice HTML

Ci sono tre modi per definire CSS:
    · inline: style agli elementi stessi => scomoda perchè non separo il contenuto dalla presentazione
    · embedded: elem style dentro HTML => è meglio del primo modo, ma comunque poco flessibile
    · esterna: file diversi tra HTML e CSS, e collegati tra loro
        - tra l'altro permette di usare modi diversi in contesti diversi (mobile, desktop ecc.) 
    <link rel="stylesheet" href="style.css">    questo consente collegamento


    selecto {property : value, property2 : value}  /*applico valore value alla regola property del selettore selector */


    /**ELEMENTO*/
    em {color : red}     tutti gli EM saranno rossi
    p, div, text{
        color : yellow;
        padding: 0%;
    }

    /**CLASSE
    magari possio applicare a stesso eleme e ho effetti diversi*/
    .first{                     
        font-style: italic;
        color: rgba(161, 114, 114, 0.482);
    }
    .second{    
        font-style: italic;
        color: blue;
    }

    /**ID
    quando voglio agire in modo diverso sul singolo elemento*/
    #nomeID{
        font-style: italic;
        color: green;
    }

    /**PSEUDO ELEMENT
    permette di differenziare CSS diversi per diverse situazioni dell
    stesso elemento*/
    a:link {
        text-decoration: underline;
        color: blue;
    }
    a:visited{
        text-decoration: underline;
        color: purple;
    }

    /**MARGIN E PADDING
    · Margin: spazio tra due elementi
        I margin collassano tra di loro sull'asse verticale: non si somma il margin
        di sotto di un elemento con il margin di sopra di un altro elemento
    · Padding: cornice di un certo elemento
    · Border-box: considera direttamente la grandezza di un elemento
    */

     
    /**DIMENSIONI
    · Liquid Layout: si definisce la percentuale dello spazio che deve occupare un certo elemento
                    e non la sua dimensione assoluta
    · Hybrid Layout: di definiscono le dimensioni in modi assoluti e relativi
    */


    /**RESPONSIVE LAYOUT
    Il layout di una pagina cambia dalla dimensione dello schermo in cui verrà visualizzato: gli
    elemeniti vengono visualizzati in modo diverso, ma comunque ci saranno tutti
        · liquid layout
        · scaling delle immagini
        · CSS diversi per destinazioni diverse
            - ci sarà poi un link diverso ad ogni file css diverso

        La VIEWPORT definisce lo spazio di visualizzazione:
    */

    
    /**TRASNSAZIONE
    Permette il passaggio da una situazione ad un altra in modo graduale
    */

    /*Sposta il menu in posizione visibile quando ci avviciniamo con il mouse*/
    .menu{
        position: absolute;
        left: -210px;
    }
    .menu:hover{
        left: 0;
        transition: left .6s ease-out;
    }


