
.menu{
    border: 1px solid;
    border-color: black;
    background-color: gray;
    width: 120px;
    height: 200px;
    margin: 10px;
    position: absolute;    
    left: -110px;
    top: 0;
    transition-duration: 0.6s;
}

.menu:hover{
    left: -25px;
    transition-duration: 0.6s;
}


.square{
    border: 1px solid;
    border-color: black;
    background-color: blue;
    width: 50px;
    height: 50px;
    margin-left: 30%;

    animation: 1s linear 2s infinite alternate sun-rise;
    
}

:root {
        overflow: hidden; /* hides any part of the sun below the horizon */
        background-color: lightblue;
        display: flex;
        justify-content: center; /* centers the sun in the background */
      }
      
      .sun {
        background-color: yellow;
        border-radius: 50%; /* creates a circular background */
        height: 100vh; /* makes the sun the size of the viewport */
        aspect-ratio: 1 / 1;
        animation: 4s linear 0s infinite alternate sun-rise;
      }
      
      @keyframes sun-rise {
        from {
          /* pushes the sun down past the viewport */
          transform: translateY(110vh);
          background-color: red;
          filter:brightness(75%)
        }
        to {
          /* returns the sun to its default position */
          transform: translateY(0);
          background-color: yellow;
        }
      }
      