
.menu{
    border: 1px solid;
    border-color: black;
    background-color: gray;
    width: 120px;
    height: 200px;
    margin: 10px;
    position: absolute;    
    left: -110px;
    top: 0;
}

.menu:hover{
    left: -25px;
    transition-duration: 0.6s;
}
